* {
    box-sizing: border-box;
}

/* FONTS */
@font-face {
    font-family: Montserrat;
    src: url('../Fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Rubik;
    src: url('../Fonts//Rubik/RubikBeastly-Regular.ttf');
}
@font-face {
    font-family: Karantina;
    src: url('../Fonts//Karantina/Karantina-Bold.ttf');
}
@font-face {
    font-family: Gloria;
    src: url('../Fonts//Gloria/GloriaHallelujah-Regular.ttf');
}

html {
    font-family: Montserrat;
    /* max-width: 100%; */
    overflow-x: hidden;

}

body {
    background-color: #3E2C41;
    font-size: 1rem;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 70px 1fr 200px;
    grid-template-areas:
    "header"
    "main"
    "footer" ;
}

.main-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .35);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

body.modal-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}


/* HELPERS */

.flex {
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-layout {
    max-width: 981px;
    margin: 0 auto;

}

.justify-content{
    justify-content: center;
}

/* HEADER */

.main-header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #2C061F;
    grid-area: header;
    z-index: 10;
}


.header-container {
    height: 100%;
}

.logo img {
    height: 42px;
    width: auto;
}

.logo a {
    position: absolute;
    height: 42px;
    width: 200px;
}

.nav-container li {
    border-inline-end: 1px solid #222;
}

.nav-container li:first-child {
    border-inline-start: 1px solid #222;
}

.nav-container a {
    width: 160px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-decoration: none;
    transition:  box-shadow .3s;
    color: whitesmoke;
    box-shadow: 0px 0px 150px;
}

.nav-container a:hover {
    box-shadow: inset 0px -6px 0 #FFF7AE;
    color: #FFF7AE;
}

.nav-container a.active {
    box-shadow: inset 0px -6px 0 #FFF7AE;
    color: #FFF7AE;
    cursor: default;
}

.btn-menu {
    background-color: #3E2C41;
    color: #ffffff;
    border-radius: 20%;
    margin-inline-end: 10px;
    border: white 1px solid;
    box-shadow: 0px 0px 20px;
}

/* MAIN */

.main-content .modal {
    position: absolute;
    background-color: whitesmoke;
    width: 50%;
    min-height: 501px;
    top:  14.5%;
    left: 25%;
    right: 65%;
    border: black 7px solid;
    text-align: center;
    z-index: 15;
    display: none;
    transition: 1.5s

}

body.modal-open .main-content .modal{
    display: flex;
    background-color:rgba(236, 236, 236, 0.904);
    font-size: 1.5rem;
    /* padding-left: 4%; */
    box-shadow: inset 0px 0px 90px rgba(156, 25, 25, 0.897);

}

.team-member .info-container .social-buttons a{
    cursor: pointer;
}

input.placeholder {
color: #e5e5e5;

}
.main-content {
    grid-area: main;
}
.main-content .controls img {
    max-width: 40px;
    cursor: pointer;

}

.controls {
    width: 50%;
    display: grid;
    grid-template: repeat(7 , 1fr) / repeat(5, 20%);
}

.controls .input {
    grid-area: 1 /1 /2 /6 ;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #2C061F ;
    color: azure;
    /* box-shadow: 0px 0px 60px; */
}

/* ================ */

/* <!-- HTML !-->
<button class="button-56" role="button">Button 56</button> */

/* CSS */
.controls button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 1.2em;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .controls button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  .controls button:hover:after {
    transform: translate(0, 0);
  }
  
  .controls button:active {
    background-color: #ffdeda;
    outline: 0;
  }
  
  .controls button:hover {
    outline: 0;
  }

  /* ================== */
/* CSS */

/* input[type="upload"] {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 11px;
} */


  /* ==================== */

.controls .up-and-down {
    grid-area: 2/2/3/3;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.controls .add {
    grid-area: 2/3/3/4;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .trash {
    grid-area: 2/4/3/5;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.controls .increase {
    grid-area: 3/1 /4/ 2;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .decrease {
    grid-area: 3 /2 /4/ 3;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .align-to-left {
    grid-area: 3 /3 /4/ 4;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .center-text {
    grid-area: 3 /4 /4/ 5;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .align-to-right {
    grid-area: 3 /5 /4/ 6;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .font {
    grid-area: 4 /1 /5/ 4;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: x-large;
    text-align: center;
    background-color: #2C061F;
    font-family: Montserrat;
    color: lemonchiffon;
}
.controls .text-stroke {
    grid-area: 4 /4 /5/ 5;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .paint {
    grid-area: 4 /5 /5/ 6;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.controls .download {
    grid-area: 7 /3 /8/ 4;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.controls .download a{
   text-decoration: none;
   color: inherit;
}
.controls .share {
    grid-area: 7 /2 /8/ -4;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.controls .save {
    grid-area: 7 /-6 /8/ -5;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
/* .controls .upload {
    grid-area: 7 /4 /8 /-2;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;

} */

input[type="file"]{
    display: none;

}

.custom-file-upload {
    display: flex;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    grid-area: 7 /5 /8 /-1;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #4CAF50;;
    color: rgb(255, 255, 255);
    text-align: center;
    /* font-family: Montserrat; */
    font-size: 20px;
    font-style: bold;
    
    
}


.btn-text {
    width: 100%;
    height: 100%;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	z-index: 1;
	opacity: 0;
	position: absolute;
    cursor: pointer;
}
.btn-stroke {
    width: 100%;
    height: 100%;
	/* top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
	z-index: 1;
	opacity: 0;
	position: absolute;
    cursor: pointer;
}

.paint img {
    position: absolute;
}







/* GALLERY */

.gallery .imgs-container{
    display: grid;
    grid-template: auto/repeat(4, 1fr);

}
.gallery img {
    /* border: 1px solid #2C061F; */
    max-width: 100%;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.gallery img:hover {
    border: azure 5px solid;
}
.gallery h1 {
    color: azure;
}

/* EDITOR */
.main-content h1 {
    text-align: center;
}

.meme-editor {
    width: 100%;
    display: none;
}
.meme-editor h1{
    color: azure;
}

/* FOOTER */
.main-footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    background-color: #2C061F;
    margin-bottom: 0;
    grid-area: footer;
}
.footer-container .logo {
    margin: 30px auto;

}

.team-member img {
    
    width: 200px;
    height: 200px;
    border: 7px solid rgba(255, 255, 255, 0.527);
    border-radius: 50%;
    margin-left: 100%;
}

.team-member {
    
    justify-content:center;
    align-items: center;
}

.social-buttons {
    list-style-type: none;
    text-decoration: none;
    color: rgb(170, 147, 147);
}

.info-container {
    width: 200px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.info-container ul {
    width: 100%;
}

.info-container ul li a i {
    margin-inline-end: 30px;
    color: rgb(0, 0, 0);
}
.coffy-rights{
    color: whitesmoke;
    margin-top: 30px;
}

/* ========================== */

/* saved memes modal*/
body.modal-open .main-content .modal .imgs-container {
    width: 100%;
display: grid;
padding: 10px;
}

body.modal-open .main-content .modal .imgs-container .meme-card{
    display: block;
width: 100%;
}

body.modal-open .main-content .modal .imgs-container img {
    display: block;
    max-width: 200px;
    max-height: 250px;
padding: 2px;
margin: 0px auto;
}
body.modal-open .main-content .modal .imgs-container .lines {
flex-direction: column;
/* margin-inline-start: 10px; */
}
body.modal-open .main-content .modal .imgs-container .lines p{
    display: block;
font-size: 1.2em;
padding: 0px;
margin: 2px auto;
color: rgb(0, 0, 0);

}

body.modal-open .main-content .modal .imgs-container .meme-card {
    padding-left: 10px;
    padding-right: 10px;
    
}

/* ===================== */

/* BREAKPOINTS */

/* MOBILE ONLY */
@media (max-width: 900px) {
    
    body {
        width: 100%;
    }
    .main-content .canvas-container {
        flex-direction: column;
        /* width: 50%;
        height: 50%; */
    }

    body.menu-open .controls button {
        position: relative;
        z-index: 4;
    }
    .main-footer {
        display: flex;
        flex-direction: column;
        min-height: 400px;
    }
    .gallery .imgs-container{
        grid-template: auto/repeat(2, 1fr);
        margin-left: 3px;
        margin-right: 3px;
    }

    .gallery .imgs-container img {
        border: 1px solid #3E2C41;
        
    }

    .main-content .modal .team-member{
        flex-direction: column;
        /* padding-right: 15px; */
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
       
    }
    .main-content .modal{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: fit-content;
        top: 0%;
        left: 10%;
        
    }
    .team-member img {  


        margin-left: 0%;
    }

    .controls button {
        font-size: 12.5px;
    }
    .custom-file-upload {
        
        font-size: 11px;
        font-style: bold;
        
        
    }

    /* hamburger */
    .header-container ul {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: rgba(219, 46, 46, 0.9);
        height: 100vh;
        border-inline-start: 1px solid #e5e5e5;
        width: 160px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }
    
    body.menu-open .main-nav ul {
        box-shadow: 0px 0px 30px rgb(0 0 0 / 30%);
        transform: translateX(-0);
    }
    
    .main-nav li {
        border-bottom: 1px solid #e5e5e5;
    }

    .main-nav a {
        display: block;
        padding: 6px 10px;
        transition: background-color .3s;
    }

    .main-header .main-nav a:hover {
        text-decoration: none;
        background-color: #eee;
        color: inherit;
    }
    .header-container .logo {
        margin-inline-start: 10px;
    }
    .main-content .canvas-container {
        align-items: center;
    }

    .main-content .controls {
        width: 360px;
        height: 380px;
    }

    .main-content .controls img {
        width: 20px;
    }
}

/* SMALL */
@media (min-width: 590px) {
    .main-layout {
        max-width: 550px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }
    .team-member img {
    
        
        margin-left: 20%;
    }
    
}
/* MEDIUM */
@media (min-width: 900px) {
    .main-layout {
        max-width: 860px;
    }
    /* .main-header .main-nav li:not(:last-child) {
        margin-inline-end: 100px;
    } */
    .btn-menu {
        display: none;
    }
    .gallery .imgs-container{
        grid-template: auto/repeat(3, 1fr);

    }
    .team-member img {
    
        
        margin-left: 25%;
    }
    body.modal-open .main-content .modal .imgs-container {
        grid-template: auto/repeat(2,50%);
        }
        .controls button {
            font-size: 1rem;
        }
    
    
}
/* LARGE */
@media (min-width: 1100px) {
    .main-layout {
        max-width: 1060px;
    }
    .gallery .imgs-container{
        grid-template: auto/repeat(4, 1fr);
    
    }
    .team-member img {
    
        
        margin-left: 100%;
    }
    body.modal-open .main-content .modal .imgs-container {
        grid-template: auto/repeat(3,33%);
        }
        .controls button {
            font-size: 1.2rem;
        }

}

@media (min-width: 768px) {
  .controls button {
    padding: 0 40px;
  }
}


/* .controls button */